@font-face {
    font-family: 'communenuit_debout';
    src: url('../fonts/commune_nuitdebout-webfont.woff2') format('woff2'),
    url('../fonts/commune_nuitdebout-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'space_groteskregular';
    src: url('../fonts/spacegrotesk-regular-webfont.woff2') format('woff2'),
    url('../fonts/spacegrotesk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.toolbox > div,
button,
div.boxed_led {
    cursor: pointer;
}

.fflogoimg {
    max-width: 50px;
    max-height: 50px;
    background-color: #191919;
}

.fflogoimg_inv {
    max-width: 25px;
    max-height: 25px;
    transform: rotate(-45deg);
}

#btn_pencil {
    max-width: 50px;
    max-height: 50px;
    content: url('../img/pencil.png');
}

#btn_filler {
    max-width: 50px;
    max-height: 50px;
    content: url('../img/spraybrush.png');
}

#btn_eyedropper {
    max-width: 50px;
    max-height: 50px;
    content: url('../img/eyedropper.png');
}

#btn_clearall {
    max-width: 50px;
    max-height: 50px;
    content: url('../img/clearall.png');
}

#btn_previous {
    max-width: 50px;
    max-height: 50px;
    content: url('../img/previous.png');
}

#btn_play {
    max-width: 50px;
    max-height: 50px;
    content: url('../img/play.png');
}

#btn_stop {
    max-width: 50px;
    max-height: 50px;
    content: url('../img/stop.png');
}

#btn_next {
    max-width: 50px;
    max-height: 50px;
    content: url('../img/next.png');
}

#btn_firstframe {
    max-width: 50px;
    max-height: 50px;
    content: url('../img/firstframe.png');
}

#btn_lastframe {
    max-width: 50px;
    max-height: 50px;
    content: url('../img/lastframe.png');
}

#btn_repeat {
    max-width: 50px;
    max-height: 50px;
    content: url('../img/repeat.png');
}

#btn_bounce {
    max-width: 50px;
    max-height: 50px;
    content: url('../img/bounce.png');
}

#btn_colorpick {
    height: 55px;
    width: 55px;
    border: 3px solid #000000;
    background-size: cover;
    background-color: white;
    background-image: url('../img/colorpick.png');
    background-repeat: no-repeat;
}

#btn_insertframe {
    max-width: 50px;
    max-height: 50px;
    content: url('../img/insertframe.png');
}

#btn_deleteframe {
    max-width: 50px;
    max-height: 50px;
    content: url('../img/deleteframe.png');
}

#btn_copy {
    max-width: 50px;
    max-height: 50px;
    content: url('../img/copy.png');
}

#btn_paste {
    max-width: 50px;
    max-height: 50px;
    content: url('../img/paste.png');
}

#btn_settings {
    max-width: 50px;
    max-height: 50px;
    content: url('../img/settings.png');
}

#btn_help {
    max-width: 50px;
    max-height: 50px;
    content: url('../img/help.png');
}

#btn_memsave {
    max-width: 50px;
    max-height: 50px;
    content: url('../img/memory.png');
}

#btn_save {
    max-width: 50px;
    max-height: 50px;
    content: url('../img/save.png');
}

.bold_dropdown_text {
    font-weight: bold;
}

.fftitle {
    padding-bottom: 20px;
}

.transparantBg {

    background-image: repeating-linear-gradient(-45deg,
    transparent,
    transparent 20px,
    #C8C8C8 20px,
    #C8C8C8 40px);
}

body {
    margin: 0px;
    font-family: 'space_groteskregular', sans-serif;
    font-size: 35px;
    letter-spacing: 2px;
    background-color: #fff;
    #overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wrapper {
    display: grid;
    grid-gap: 0px;
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr 10fr 205px;
    background-color: #fff;
}

.box {
    color: #000;
    border-radius: 0px;
    padding: 0px;
}

.boxed_tools {
    border-style: solid;
    border-width: 3px;

}

.boxed_led {
    border-style: solid;
    border-width: 2px;

}

.boxed_preview {
    border-style: solid;
    border-width: 4px;
    color: #fff;
    text-align: center;
    border-color: #000;

}

.left {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #191919;
    padding-left: 5px;
    margin-left: 0px;
    color: #fff;

}

.lefttop {
    grid-column: 1;
    grid-row: 1;
    align-self: start;
    font-family: 'communenuit_debout', sans-serif;
}

.leftmiddle {
    grid-column: 1;
    grid-row: 2;
    align-self: start;
}

.leftbottom {
    grid-column: 1;
    grid-row: 3;
    align-self: end;
    font-size: 20px;
    font-family: 'communenuit_debout', sans-serif;
}

.boxtitle {
    font-size: 18px;
    letter-spacing: 0.2em;
    font-family: 'communenuit_debout', sans-serif;
    color: #fff;
    background-color: #191919;
    padding-left: 10px;

}

.toolbox {
    grid-template-columns: 1fr 1fr 1fr 1fr;

    grid-template-rows: 0px 1fr 5px 1fr 1fr 1fr 1fr 5px 1fr 1fr 15px 20px 1fr 5px 30px 1fr;
    display: grid;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    background-color: #fff;
}

#tb_draw_title {
    grid-column: 1 / 5;
    grid-row: 1;
    align-self: center;
}

#tb_pen {
    grid-column: 1;
    grid-row: 2;

}

#tb_filler {
    grid-column: 2;
    grid-row: 2;
}

#tb_colorsucker {
    grid-column: 3;
    grid-row: 2;
}

#tb_clearall {
    grid-column: 4;
    grid-row: 2;
}

#tb_color_title {
    grid-column: 1 / 5;
    grid-row: 3;
    align-self: center;
}

#tb_colorselect {
    grid-column: 1 / 3;
    grid-row: 4 / 6;
    background-color: #fff;
}

#tb_color_1 {
    grid-column: 3;
    grid-row: 4;
    background-color: #fff
}

#tb_color_2 {
    grid-column: 4;
    grid-row: 4;
    background-color: #f442e5;
}

#tb_color_3 {
    grid-column: 3;
    grid-row: 5;
    background-color: #ff0000;
}

#tb_color_4 {
    grid-column: 4;
    grid-row: 5;
    background-color: #00ff00;
}

#tb_color_5 {
    grid-column: 1;
    grid-row: 6;
    background-color: #ffff00;
}

#tb_color_6 {
    grid-column: 2;
    grid-row: 6;
    background-color: #0000ff;
}

#tb_color_7 {
    grid-column: 3;
    grid-row: 6;
    background-color: #f15a24;
}

#tb_color_8 {
    grid-column: 4;
    grid-row: 6;
    background-color: #ed1e79;
}

#tb_color_9 {
    grid-column: 1;
    grid-row: 7;
    background-color: #00ffff;
}

#tb_color_10 {
    grid-column: 2;
    grid-row: 7;
    background-color: #662d91;
}

#tb_color_11 {
    grid-column: 3;
    grid-row: 7;

    background-image: repeating-linear-gradient(-45deg,
    transparent,
    transparent 20px,
    #C8C8C8 20px,
    #C8C8C8 40px);
}

#tb_colorpick {
    grid-column: 4;
    grid-row: 7;
    background-color: #fff;
}

#tb_animation_title {
    grid-column: 1 / 5;
    grid-row: 8;
    align-self: center;
}

#tb_previous {
    grid-column: 1 / 2;
    grid-row: 9;
}

#tb_play {
    grid-column: 2;
    grid-row: 9;
}

#tb_stop {
    grid-column: 3;
    grid-row: 9;
}

#tb_next {
    grid-column: 4;
    grid-row: 9;
}

#tb_firstframe {
    grid-column: 1;
    grid-row: 10;
}

#tb_repeat {
    grid-column: 2;
    grid-row: 10;
}

#tb_bounce {
    grid-column: 3;
    grid-row: 10;
}

#tb_lastframe {
    grid-column: 4;
    grid-row: 10;
}

#tb_currentframe_title {
    grid-column: 1 / 2;
    grid-row: 11;
    font-size: 12px;
}

#tb_currentframe_text {
    grid-column: 2 / 3;
    grid-row: 11;
    font-size: 12px;
}

#tb_framespeed_title {
    grid-column: 3 / 5;
    grid-row: 11;
    font-size: 12px;
}

/*#tb_framespeed_text {
    grid-column: 4 / 5;
    grid-row: 11;
    font-size : 12px;
}*/
#tb_framespeed_slider {
    grid-column: 1 / 5;
    grid-row: 12;
    font-size: 12px;
}

#tb_copy {
    grid-column: 1;
    grid-row: 13;
}

#tb_paste {
    grid-column: 2;
    grid-row: 13;
}

#tb_insertframe {
    grid-column: 3;
    grid-row: 13;
}

#tb_deleteframe {
    grid-column: 4;
    grid-row: 13;
}

#tb_actions_title {
    grid-column: 1 / 5;
    grid-row: 14;
    align-self: center;
}

#tb_actions_loadfile {
    grid-column: 1 / 5;
    grid-row: 15;
    font-size: 12px;
    letter-spacing: 0.01em;
    padding: 5px;
}

#tb_actions_log {
    grid-column: 1;
    grid-row: 16;
    font-size: 15px;
}

#tb_actions_help {
    grid-column: 2;
    grid-row: 16;
    font-size: 15px;
    justify-self: end
}

#tb_actions_memsave {
    grid-column: 3;
    grid-row: 16;
    font-size: 15px;
    justify-self: end
}

#tb_actions_save {
    grid-column: 4;
    grid-row: 16;
    font-size: 15px;
    justify-self: end
}

#tb_fileselect {
    width: 50%;
}

#tb_lightboxSelect {
    width: 100%;
}

.ledview_toprow {
    justify-self: center;
    align-self: center;
}

.ledview_leftcol {
    justify-self: center;
    align-self: center;
}

.ledview_bg {
    background-image: repeating-linear-gradient(-45deg,
    transparent,
    transparent 20px,
    #C8C8C8 20px,
    #C8C8C8 40px);
}

.ledview {
    grid-template-columns: 40px repeat(9, 1fr);
    grid-template-rows: 40px repeat(6, 1fr) 30px;
    display: grid;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    font-size: 20px;
}

#ledview_fly {
}

#led_top_1 {
}

#ledtop_t2 {
}

#ledtop_t3 {
}

#ledtop_t4 {
}

#ledtop_t5 {
}

#ledtop_t6 {
}

#ledtop_t7 {
}

#ledtop_t8 {
}

#ledtop_t9 {
}

#ledview_A {
}

#ledview_1 {
}

#ledview_2 {
}

#ledview_3 {
}

#ledview_4 {
}

#ledview_5 {
}

#ledview_6 {
}

#ledview_7 {
}

#ledview_8 {
}

#ledview_9 {
}

#ledview_B {
}

#ledview_10 {
}

#ledview_11 {
}

#ledview_12 {
}

#ledview_13 {
}

#ledview_14 {
}

#ledview_15 {
}

#ledview_16 {
}

#ledview_17 {
}

#ledview_18 {
}

#ledview_C {
}

#ledview_19 {
}

#ledview_20 {
}

#ledview_21 {
}

#ledview_22 {
}

#ledview_23 {
}

#ledview_24 {
}

#ledview_25 {
}

#ledview_26 {
}

#ledview_27 {
}

#ledview_D {
}

#ledview_28 {
}

#ledview_29 {
}

#ledview_30 {
}

#ledview_31 {
}

#ledview_32 {
}

#ledview_33 {
}

#ledview_34 {
}

#ledview_35 {
}

#ledview_36 {
}

#ledview_E {
}

#ledview_37 {
}

#ledview_38 {
}

#ledview_39 {
}

#ledview_40 {
}

#ledview_41 {
}

#ledview_42 {
}

#ledview_43 {
}

#ledview_44 {
}

#ledview_45 {
}

#ledview_F {
}

#ledview_46 {
}

#ledview_47 {
}

#ledview_48 {
}

#ledview_49 {
}

#ledview_50 {
}

#ledview_51 {
}

#ledview_52 {
}

#ledview_53 {
}

#ledview_54 {
}

#preview_P {

}

#preview_all {
    grid-column: 2/-1;
}

#preview_1 {
}

#preview_2 {
}

#preview_3 {
}

#preview_4 {
}

#preview_5 {
}

#preview_6 {
}

#preview_7 {
}

#preview_8 {
}

#preview_9 {
}

.tab {
    margin-left: 40px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 30px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    font-size: 12px;
    border: 1px solid #888;
    width: 43%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#sliderValue {
    float: left;
}

.slider {
    float: left;
    -webkit-appearance: none;
    width: 50%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.speedslider {
    float: left;
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.speedslider:hover {
    opacity: 1;
}

.speedslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 15px;
    background: #4CAF50;
    cursor: pointer;
}

.speedslider::-moz-range-thumb {
    width: 25px;
    height: 15px;
    background: #4CAF50;
    cursor: pointer;
}

@-webkit-keyframes progressFill {
    from {
        background-position: right bottom;
    }
    to {
        background-position: left bottom;
    }
}

@-moz-keyframes progressFill {
    from {
        background-position: right bottom;
    }
    to {
        background-position: left bottom;
    }
}

@keyframes progressFill {
    from {
        background-position: right bottom;
    }
    to {
        background-position: left bottom;
    }
}

#note {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 30%;
    right: 30%;
    background: #fde073;
    text-align: center;
    line-height: 2;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
    font-family: sans-serif;
    font-size: 20px;
}

.noteanimation {
    -webkit-transform: translateY(-50px);
    -webkit-animation: slideDown 4s 1.0s 1 ease forwards;
    -moz-transform: translateY(-50px);
    -moz-animation: slideDown 4s 1.0s 1 ease forwards;

}

@-webkit-keyframes slideDown {
    0%, 100% {
        -webkit-transform: translateY(-50px);
    }
    10%, 90% {
        -webkit-transform: translateY(0px);
    }
}

@-moz-keyframes slideDown {
    0%, 100% {
        -moz-transform: translateY(-50px);
    }
    10%, 90% {
        -moz-transform: translateY(0px);
    }
}

.memSaveBtn {
    margin: 10px 0;
    padding: 12px 25px;
    font-size: 12px;
    letter-spacing: 4px;
    color: #000;
    border: 2px solid #ccc;
    width: 200px;
    background: transparent;
    transition: all 0.3s ease 0s;
}

.memSaveBtn:focus {
    outline: none;
}

.memSaveBtn:hover {
    outline: none;
}

.is-loading {
    background: linear-gradient(to right, rgba(0, 200, 0, 0.5) 50%, transparent 0%);
    background-size: 200% 100%;
    background-position: right bottom;
    animation: progressFill 6000ms -0.1s ease-in-out forwards;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

.upload-form-class {
    display: inline-block;
}

.btn-save-upload-class {
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 4px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin: 4px 0 4px 25px;
    cursor: pointer;
}

#btn_save_animation::before {
    content: url("../img/download.png");
    zoom: 20%;
}

#btn_upload_animation::before {
    content: url("../img/upload.png");
    zoom: 20%;
}

#saveOrLoadModelContentDiv > * {
    margin: 20px 25px 20px 10px;
}

#editLayerContentDivId {
    margin: 20px 25px 20px 10px;
}

.layer-wrapper {
    grid-template-columns: 20px;
    grid-template-rows: 40px 40px 40px;
    height: auto;
    width: 200px;
    background-color: white;
    margin-right: 40px;
    margin-top: 40px;
    font-size: 30%;
}

.layer-wrapper-content {
    border: 2px solid rgba(0, 0, 0, 0.8);
}

.layer-header {
    margin-top: 0;
    margin-bottom: 0;
    height: 25px;
    color: white;
    background-color: black;
}

.layer-header:after {
    content: url("../img/firefly-layer-layer.png");
    zoom: 50%;
    float: right;
    filter: invert(100%);
}

.layer-preview {
    display: inline-block;
    font-size: 15px;
    height: 10px;
    width: 40px;
    background-color: #191919;
    cursor: pointer;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 25px) auto;
    /*grid-template-rows: repeat(4, 25px);*/
    padding: 2px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 2px;
    font-size: 12px;
    text-align: left;
    display: inline-block;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.layer-visibility-column:before {
    content: url("../img/firefly-layer-visible.png");
    zoom: 50%;
}

.layer-editability-column:before {
    content: url("../img/firefly-layer-write.png");
    zoom: 50%;
}

.drag-icon-class {
    /*content: url("../img/firefly-layer-drag.png");
    zoom: 50%;*/
    width: 75px;
}

.add-or-remove-layers-class {
    width: 100%;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.8);
}


.add-layer-class:before {
    content: url("../img/layer-add.png");
    zoom: 12%;
}

.remove-layer-class:before {
    content: url("../img/layer-remove.png");
    zoom: 12%;
}

.duplicate-layer-class:before {
    content: url("../img/layer-duplicate.png");
    zoom: 12%;
}

.download-layer-class:before {
    content: url("../img/layer-download.png");
    zoom: 12%;
}

.move-up-layer-class:before {
    content: url("../img/layer-up.png");
    zoom: 12%;
}

.move-down-layer-class:before {
    content: url("../img/layer-down.png");
    zoom: 12%;
}

.add-layer-class, .remove-layer-class, .duplicate-layer-class, .download-layer-class, .move-up-layer-class, .move-down-layer-class {
    padding: 2px;
    font-size: 15px;
    display: inline-block;
    cursor: pointer;
}



.enable-layer-div-class {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
